In [1]:
import pandas as pd
import numpy as np
import pyarrow as pa
import pyarrow.parquet as pq
import matplotlib.pyplot as plt
import ast
from scipy.stats import ttest_ind
import seaborn as sns
import time
import networkx as nx
import warnings


# SettingWithCopyWarning 무시
warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

# 모든 출력을 보여주도록 설정
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [2]:
parquet_file = 'C:/Users/jjccyy9741/OneDrive - postech.ac.kr/바탕 화면/LG/데이터/postech_company_project.parquet'
# Parquet 파일 열기
table = pq.read_table(parquet_file)

# Table에서 데이터를 DataFrame으로 변환
data = table.to_pandas()
print(data.shape)

(13881284, 71)

In [3]:
df = data.copy()
df = df[['PREV_RECEIPT_NUMBER','RECEIPT_NUMBER']]
print(df.shape)

(13881284, 2)

In [4]:
df11 = df.copy()

In [39]:
n = 50000

df12 = df11.head(n)

# 시작 시간 기록
start_time = time.time()

print('데이터 크기(n):', n)
print(' ')

# 네트워크 그래프 생성
G = nx.Graph()
for _, row in df12.iterrows():
    if row['PREV_RECEIPT_NUMBER'] is not None:
        G.add_edge(row['PREV_RECEIPT_NUMBER'], row['RECEIPT_NUMBER'])

# 같은 그룹 찾기
connected_components = list(nx.connected_components(G))

# 결과 출력
result_df12 = pd.DataFrame()
if not connected_components:
    # 시퀀스가 하나도 없는 경우
    result_df12 = df12.copy()
    result_df12['group'] = 0
else:
    for idx, component in enumerate(connected_components):
        matching_group = df12[df12['RECEIPT_NUMBER'].isin(component)].copy()  # .copy() 추가
        matching_group['group'] = idx + 1
        result_df12 = pd.concat([result_df12, matching_group], ignore_index=True)

    # 'group' 컬럼으로 정렬
    result_df12 = result_df12.sort_values(by='group')

# 종료 시간 기록
end_time = time.time()
print('실행 시간:', end_time - start_time)
print(' ')

# 빈도가 2 이상인 값을 출력
seq_group = result_df12['group'].value_counts()[result_df12['group'].value_counts() >= 2].index.tolist()
print('시퀀스 그룹 개수:', len(seq_group))
# print('시퀀스 그룹:',seq_group)
print(' ')
print('데이터 크기:', len(result_df12))

# 'group' 열 값의 빈도 계산 및 정렬
group_counts = result_df12['group'].value_counts().sort_values(ascending=False)

# 결과 출력
print('재서비스 그룹:',group_counts[group_counts >= 2])

# Sort result_df12_filtered within each group based on 'RECEIPT_NUMBER'
result_df12_filtered = result_df12[result_df12['group'].isin(group_counts[group_counts >= 2].index)]

result_df12_filtered = result_df12_filtered.groupby('group', group_keys=False).apply(lambda x: x.sort_values('RECEIPT_NUMBER'))

데이터 크기(n): 50000

실행 시간: 8.323346376419067

시퀀스 그룹 개수: 1066

데이터 크기: 6591
재서비스 그룹: group
4062    4
4209    4
3447    3
3005    3
2873    3
5008    3
5001    3
5057    3
4302    3
3403    3
2697    3
3207    3
2898    3
1551    3
3310    3
3507    3
4668    3
2030    3
1665    3
3293    3
3461    3
1254    3
3610    3
3571    3
2502    3
2897    3
4064    3
3630    3
1369    3
2491    3
3481    3
3597    3
1244    3
1631    3
4510    3
4189    3
1669    3
5348    3
1900    3
1221    3
4748    3
1633    3
1134    3
5449    3
1135    3
2801    3
1220    3
2264    3
3493    3
1660    2
2768    2
5201    2
2767    2
2770    2
3126    2
5194    2
3844    2
1661    2
2772    2
5198    2
3993    2
5188    2
3127    2
5426    2
2761    2
5183    2
5306    2
3065    2
2728    2
3001    2
1745    2
5420    2
66      2
64      2
5423    2
5428    2
2936    2
5205    2
1666    2
5153    2
5206    2
2730    2
5159    2
1644    2
5157    2
5156    2
3148    2
5430    2
5151    2
1641    2
3152    2
2734    2
1854    2
2732    2
2731    2
3135    2
3845    2
5178    2
3994    2
1664    2
5220    2
1839    2
5218    2
2784    2
5214    2
2782    2
3115    2
3117    2
5209    2
5208    2
1749    2
5466    2
2932    2
2946    2
1769    2
2973    2
5       2
5472    2
3910    2
2982    2
2983    2
2984    2
25      2
1761    2
2947    2
5447    2
34      2
2990    2
3924    2
3899    2
38      2
2942    2
5440    2
3923    2
44      2
2995    2
5398    2
5396    2
93      2
1715    2
5334    2
5335    2
2964    2
2975    2
53      2
3014    2
52      2
3927    2
1790    2
3934    2
74      2
3936    2
2918    2
5411    2
5410    2
5409    2
2917    2
5407    2
3013    2
5404    2
5463    2
5403    2
5402    2
2914    2
1737    2
1785    2
2937    2
3064    2
3145    2
2956    2
5459    2
19      2
18      2
1765    2
4004    2
5276    2
1851    2
1690    2
1056    2
3537    2
3697    2
3539    2
4901    2
3298    2
3129    2
1691    2
1688    2
3091    2
5256    2
2815    2
3089    2
2820    2
2214    2
1693    2
2821    2
3085    2
3084    2
2825    2
5268    2
5269    2
3095    2
1685    2
2808    2
3097    2
5247    2
2806    2
3698    2
3534    2
3997    2
1029    2
3559    2
2205    2
4222    2
2012    2
3520    2
3526    2
3525    2
4213    2
2228    2
4211    2
3704    2
1030    2
3540    2
3518    2
3533    2
3705    2
3706    2
1025    2
1380    2
2223    2
1041    2
3702    2
3701    2
3529    2
1045    2
4476    2
4217    2
1050    2
2804    2
5242    2
2802    2
1674    2
3079    2
2830    2
5280    2
5279    2
5278    2
3969    2
3047    2
218     2
5275    2
5274    2
5273    2
5226    2
2790    2
2750    2
5240    2
4002    2
1648    2
4001    2
3999    2
330     2
2749    2
5170    2
5223    2
2751    2
2753    2
3137    2
322     2
5175    2
5285    2
1698    2
5288    2
5289    2
257     2
1682    2
3856    2
2792    2
5229    2
5228    2
3108    2
5270    2
223     2
1704    2
3073    2
201     2
3866    2
5293    2
1700    2
3074    2
2837    2
5298    2
5272    2
5299    2
3072    2
3070    2
1702    2
1703    2
5305    2
5291    2
5290    2
2868    2
2850    2
5339    2
2604    2
3260    2
4982    2
2582    2
1575    2
4056    2
2611    2
1570    2
4973    2
2608    2
3244    2
3245    2
4967    2
4966    2
2602    2
596     2
2601    2
4061    2
2599    2
4957    2
4956    2
3251    2
2594    2
3252    2
2592    2
4065    2
3254    2
4948    2
2587    2
3261    2
3279    2
4068    2
3268    2
1889    2
2580    2
2578    2
4935    2
4933    2
1556    2
4931    2
4070    2
4929    2
3265    2
572     2
4071    2
1553    2
2570    2
3278    2
4072    2
4922    2
4921    2
3270    2
2565    2
4916    2
4915    2
3275    2
2561    2
2560    2
2559    2
1547    2
3277    2
1559    2
2584    2
1811    2
5069    2
1617    2
2714    2
3825    2
5126    2
5128    2
5086    2
5096    2
1610    2
1621    2
1876    2
4011    2
5105    2
5068    2
4034    2
1866    2
2701    2
1605    2
5108    2
2700    2
2673    2
4031    2
5101    2
5136    2
5106    2
4020    2
1603    2
1877    2
3174    2
5088    2
4017    2
3259    2
2704    2
2669    2
1584    2
3165    2
2683    2
1864    2
5132    2
5082    2
2686    2
5113    2
3172    2
3161    2
1612    2
5100    2
3826    2
2711    2
2703    2
5076    2
1625    2
2680    2
5098    2
5131    2
2689    2
5115    2
5097    2
3169    2
2710    2
2707    2
5093    2
2619    2
2620    2
2648    2
5369    2
5386    2
104     2
105     2
3026    2
3027    2
5379    2
2896    2
3029    2
3031    2
5374    2
5371    2
5356    2
2891    2
3033    2
3022    2
2889    2
2888    2
3879    2
1806    2
128     2
2885    2
5362    2
5361    2
3036    2
5359    2
1723    2
3154    2
4290    2
2903    2
1797    2
1589    2
3056    2
5394    2
3044    2
2874    2
1718    2
2876    2
5347    2
3041    2
3957    2
3050    2
3053    2
2861    2
3054    2
1711    2
5323    2
3940    2
3057    2
1710    2
5320    2
2854    2
2853    2
3060    2
1708    2
3560    2
5313    2
2879    2
5352    2
5354    2
5373    2
2727    2
1581    2
5021    2
4041    2
1588    2
5060    2
5059    2
4036    2
5056    2
4037    2
3199    2
1600    2
3201    2
5051    2
5050    2
2662    2
4039    2
5042    2
2643    2
2656    2
5040    2
1881    2
5038    2
5037    2
3210    2
5034    2
465     2
5033    2
5032    2
4045    2
5029    2
1590    2
1587    2
3217    2
1884    2
2622    2
1585    2
5018    2
2641    2
5015    2
5013    2
2638    2
3222    2
3223    2
1886    2
3225    2
5006    2
5005    2
5003    2
2670    2
3227    2
2631    2
2630    2
4998    2
4997    2
3228    2
3229    2
2627    2
1580    2
4991    2
2624    2
4989    2
3232    2
2184    2
5340    2
4439    2
3286    2
2541    2
4882    2
2534    2
2535    2
2538    2
2539    2
2540    2
2542    2
3656    2
3289    2
3288    2
2545    2
2546    2
1542    2
1532    2
2533    2
2532    2
4879    2
2531    2
2529    2
2527    2
4873    2
4872    2
2525    2
4869    2
4868    2
4867    2
3785    2
4859    2
2517    2
1534    2
4725    2
4090    2
1528    2
3305    2
3303    2
4836    2
4850    2
2512    2
2513    2
4854    2
1531    2
3300    2
3312    2
4835    2
4821    2
2498    2
3325    2
4101    2
2483    2
4816    2
3774    2
2487    2
4824    2
1523    2
4826    2
4094    2
2493    2
3315    2
2496    2
2523    2
2521    2
4841    2
3330    2
4127    2
2418    2
1478    2
3353    2
2442    2
3326    2
2472    2
2463    2
4790    2
1503    2
4795    2
2470    2
1509    2
4765    2
4124    2
4802    2
1926    2
1511    2
2476    2
4102    2
4807    2
3338    2
1501    2
1500    2
2458    2
4110    2
2455    2
4780    2
4126    2
4732    2
4861    2
3356    2
4811    2
2480    2
2479    2
1488    2
2429    2
2430    2
4747    2
754     2
4749    2
2431    2
2433    2
4118    2
3357    2
3355    2
4734    2
2437    2
4758    2
4759    2
4121    2
4743    2
4742    2
4741    2
1486    2
4739    2
2299    2
2970    2
1484    2
4735    2
1526    2
1524    2
2453    2
3386    2
3372    2
4718    2
4719    2
4704    2
4135    2
2402    2
4700    2
4136    2
3383    2
2398    2
3385    2
2396    2
4693    2
4146    2
1475    2
4690    2
4138    2
4688    2
4687    2
4686    2
841     2
1453    2
3745    2
2331    2
2324    2
1432    2
3441    2
4601    2
4716    2
4130    2
1433    2
4675    2
1351    2
4665    2
840     2
4140    2
2377    2
4681    2
3391    2
3396    2
4144    2
4679    2
3392    2
4677    2
3393    2
4669    2
2392    2
3397    2
2382    2
1771    2
2394    2
3388    2
2408    2
4705    2
4706    2
4133    2
1947    2
4709    2
3377    2
3376    2
2327    2
4608    2
2509    2
2358    2
2366    2
4149    2
3428    2
4652    2
4653    2
1455    2
3406    2
3405    2
3404    2
1451    2
4642    2
2360    2
3415    2
2357    2
4722    2
1449    2
4635    2
3418    2
4152    2
1959    2
4631    2
2350    2
3422    2
3426    2
2343    2
2415    2
3361    2
4723    2
4648    2
3411    2
3909    2
3450    2
3436    2
2335    2
4613    2
3433    2
1966    2
1440    2
4597    2
4596    2
4166    2
3445    2
1973    2
3729    2
4170    2
1976    2
3412    2
4585    2
4175    2
2310    2
1420    2
3458    2
2306    2
3460    2
3462    2
4617    2
4619    2
2374    2
4650    2
3743    2
2454    2
3738    2
3764    2
4204    2
1395    2
2253    2
1994    2
2263    2
3491    2
982     2
2267    2
979     2
4514    2
2252    2
3512    2
4506    2
1017    2
1014    2
991     2
4202    2
4201    2
1010    2
1008    2
1390    2
3504    2
1006    2
3503    2
4200    2
1002    2
1001    2
3715    2
4192    2
3712    2
3497    2
1985    2
1223    2
1202    2
4270    2
1200    2
2109    2
4352    2
2101    2
4341    2
2100    2
4339    2
1217    2
2099    2
1305    2
1222    2
1224    2
3498    2
4336    2
4335    2
1227    2
2053    2
3628    2
4331    2
4330    2
2028    2
1107    2
3467    2
3713    2
4516    2
3711    2
976     2
3719    2
2093    2
2204    2
1083    2
1081    2
1079    2
2191    2
3552    2
2194    2
3550    2
4232    2
3696    2
3545    2
3544    2
1066    2
4223    2
4231    2
2027    2
1086    2
1382    2
4234    2
2026    2
4240    2
3568    2
2176    2
3687    2
2021    2
4436    2
2449    2
3558    2
3689    2
1357    2
2239    2
4078    2
1408    2
4556    2
4557    2
3473    2
3471    2
1400    2
4561    2
4562    2
4183    2
4182    2
3720    2
939     2
4552    2
3475    2
4548    2
1383    2
2283    2
2282    2
2281    2
2280    2
3480    2
965     2
4539    2
2276    2
1405    2
1403    2
1990    2
1991    2
974     2
3670    2
2289    2
1204    2
3682    2
3617    2
3616    2
4360    2
3613    2
3614    2
1184    2
4362    2
2118    2
1181    2
4364    2
2129    2
2131    2
2132    2
4256    2
1311    2
3589    2
2151    2
3585    2
2036    2
2159    2
2161    2
1155    2
2031    2
3577    2
2165    2
1114    2
1112    2
1110    2
2050    2
1193    2
4257    2
1172    2
2447    2
4771    2
2446    2
1206    2
4769    2
4767    2
3349    2
4570    2
4554    2
1416    2
4374    2
4370    2
1173    2
3609    2
3615    2
3608    2
2048    2
1315    2
4367    2
1166    2
4376    2
2047    2
4379    2
4380    2
4381    2
3611    2
2049    2
1195    2
1133    2
1191    2
3592    2
1268    2
3636    2
3661    2
1292    2
2110    2
4297    2
4291    2
3655    2
1283    2
3658    2
1275    2
4296    2
3649    2
2062    2
4283    2
4319    2
1290    2
4305    2
1291    2
1298    2
1299    2
4324    2
2106    2
4343    2
2145    2
4273    2
3624    2
2105    2
1207    2
4320    2
3644    2
1322    2
4269    2
4258    2
1297    2
1325    2
1143    2
3675    2
4393    2
2144    2
3600    2
1150    2
4389    2
2044    2
1194    2
2133    2
4314    2
4312    2
4317    2
3664    2
1260    2
1108    2
1251    2
3594    2
4311    2
3641    2
1257    2
1258    2
1250    2
Name: count, dtype: int64
재서비스 그룹 (빈도 2 이상, 그룹 내 정렬된 결과):

   PREV_RECEIPT_NUMBER RECEIPT_NUMBER  group
4         LGE_REC_6091      LGE_REC_4      5
5                 None   LGE_REC_6091      5
18          LGE_REC_61     LGE_REC_18     18
19                None     LGE_REC_61     18
21                None  LGE_REC_13312     19

## 시퀀스 데이터 안에서 순서 정렬하기

In [59]:
result_df12_filtered[result_df12_filtered['group']==4209]

     PREV_RECEIPT_NUMBER RECEIPT_NUMBER  group
5013                None  LGE_REC_33965   4209
5014       LGE_REC_33965  LGE_REC_36795   4209
5015       LGE_REC_33965  LGE_REC_36857   4209
5016       LGE_REC_36795  LGE_REC_46918   4209

In [60]:
ff=result_df12_filtered[result_df12_filtered['group']==4209]


def custom_sort(df):
    # 새로운 열 생성 (현재 행의 인덱스와 해당 행의 PREV_RECEIPT_NUMBER가 매핑되는 인덱스의 차이)
    df['SORT_KEY'] = df.apply(lambda row: row.name - df[df['RECEIPT_NUMBER'] == row['PREV_RECEIPT_NUMBER']].index[0] if not pd.isnull(row['PREV_RECEIPT_NUMBER']) else np.nan, axis=1)
    
    # 정렬 후 SORT_KEY 열 제거
    df_sorted = df.sort_values(by=['SORT_KEY']).drop(columns=['SORT_KEY']).reset_index(drop=True)
    
    return df_sorted

# 데이터 프레임 정렬
ff_sorted = custom_sort(ff)

# 결과 출력
ff_sorted

C:\Users\jjccyy9741\AppData\Local\Temp\ipykernel_19888\1223738471.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SORT_KEY'] = df.apply(lambda row: row.name - df[df['RECEIPT_NUMBER'] == row['PREV_RECEIPT_NUMBER']].index[0] if not pd.isnull(row['PREV_RECEIPT_NUMBER']) else np.nan, axis=1)

  PREV_RECEIPT_NUMBER RECEIPT_NUMBER  group
0       LGE_REC_33965  LGE_REC_36795   4209
1       LGE_REC_33965  LGE_REC_36857   4209
2       LGE_REC_36795  LGE_REC_46918   4209
3                None  LGE_REC_33965   4209

In [63]:
ff=result_df12_filtered[result_df12_filtered['group']==4209]

def custom_sort(df):
    # 새로운 열 생성 (현재 행의 인덱스와 같은 그룹 내에서의 순서)
    df['SORT_KEY'] = df.groupby(['group', 'PREV_RECEIPT_NUMBER']).cumcount()
    
    # 정렬 후 SORT_KEY 열 제거
    df_sorted = df.sort_values(by=['group', 'SORT_KEY']).drop(columns=['SORT_KEY']).reset_index(drop=True)
    
    return df_sorted

# 데이터 프레임 정렬
ff_sorted = custom_sort(ff)


# 결과 출력
ff_sorted

C:\Users\jjccyy9741\AppData\Local\Temp\ipykernel_19888\2029205063.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SORT_KEY'] = df.groupby(['group', 'PREV_RECEIPT_NUMBER']).cumcount()

  PREV_RECEIPT_NUMBER RECEIPT_NUMBER  group
0       LGE_REC_33965  LGE_REC_36795   4209
1       LGE_REC_36795  LGE_REC_46918   4209
2       LGE_REC_33965  LGE_REC_36857   4209
3                None  LGE_REC_33965   4209

In [28]:
result_df12_filtered[result_df12_filtered['group']==4062]

     PREV_RECEIPT_NUMBER RECEIPT_NUMBER  group
4823       LGE_REC_36666  LGE_REC_36635   4062
4824       LGE_REC_48938  LGE_REC_36666   4062
4825       LGE_REC_36635  LGE_REC_46529   4062
4826                None  LGE_REC_48938   4062

In [6]:
result_df12[result_df12['group']==8741]

Empty DataFrame
Columns: [PREV_RECEIPT_NUMBER, RECEIPT_NUMBER, group]
Index: []

In [7]:
result_df2 = result_df12.groupby('group').last().reset_index()
print(result_df2.shape)
print(result_df2['group'].nunique())
result_df2.head(10)

(37, 3)
37

   group PREV_RECEIPT_NUMBER RECEIPT_NUMBER
0      1    LGE_REC_14193717      LGE_REC_0
1      2    LGE_REC_14193718      LGE_REC_1
2      3    LGE_REC_14193719      LGE_REC_2
3      4    LGE_REC_14193720      LGE_REC_3
4      5        LGE_REC_6091      LGE_REC_4
5      6    LGE_REC_14193721      LGE_REC_5
6      7    LGE_REC_14193722      LGE_REC_6
7      8    LGE_REC_14193723      LGE_REC_7
8      9    LGE_REC_14193724      LGE_REC_8
9     10    LGE_REC_14193725      LGE_REC_9

In [8]:
# result_df2에 있는 RECEIPT_NUMBER 값만 갖는 데이터프레임 생성
data2 = data[data['RECEIPT_NUMBER'].isin(result_df2['RECEIPT_NUMBER'])]
data2.shape

(37, 71)